<div id="horses">
  <% for horse in horses -%>
    <% form_for "horse_#{horse.id}", horse, :html => {:id => "horse_#{horse.id}"} do |f| -%>
      <p>
        <%= f.label :name %>
        <%= f.text_field :name %>
      </p>
      <p>
        <%= f.label :color %>
        <%= f.text_field :color %>
      </p>
      <p class="button">
        <%= submit_tag "Save" %>
      </p>
    <% end -%>
    <%= button_to "Delete", horse, :method => :delete, :class => "confirm remote", :onSuccess => "$('horse_#{horse.id}').remove(); this.element.remove()" %>
  <% end -%>
</div>
